useDynLib(clues, .registration = TRUE)

import(stats)
import(graphics)
importFrom(utils, menu)

# functions
export(
  adjustedRand,
  clues, 
  clustering, 
  compClust,
  get_CH, 
  get_Silhouette,
  plotAvgCurves, 
  plotClusters,
  plotCurves, 
  shrinking 
)


###---- Methods ---- all documented but not exported

S3method(plot, clues)
S3method(print, clues)
S3method(print, summary.clues)
S3method(summary, clues)

